@charset "UTF-8";
@import "styles.css";

	body {
		background-image: url("bg.jpg");

	}

	.tab {
		background-color: #f1f1f1;
	}

	.tab button {
		background-color: inherit;
		float: left;
		border: 1px;
		border-style: solid;
		border-color: grey;
		outline: none;
		cursor: pointer;
		padding: 10px 16px;
		transition: 0.3s;
		font-size: 18px;
	}

	.tab button:hover {
		background-color: #ddd;
	}

	.tab button.active {
		background-color: #ccc;
	}

	.tab a {
		text-decoration:none;
		color: black;
	}

	.tab1 a {
		text-decoration:none;
		color: black;
		font-size: 16px;
		font-family: "Times New Roman", Times, serif;
	}

	label {
		font-size: 18px;
	}

	input {
		font-size: 16px;
		font-family: "Times New Roman", Times, serif;
	}